<% let title = 'Sign up'; %>

<% layout(_view.get('_layout/main')) -%>

<% block('title', title) -%>

<% _data.set('breadcrumbs', [{label: title}]) %>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

        <h3 class="login-box-msg">
            Sign up new user
        </h3>

        <form action="<%- _url('signup') %>" method="post">
            <%- partial(_view.get('_part/fields/auth/input'), {
                attr: 'name',
                iconClass: 'glyphicon glyphicon-user'
            }) %>

            <%- partial(_view.get('_part/fields/auth/input'), {
                attr: 'email',
                iconClass: 'glyphicon glyphicon-envelope'
            }) %>

            <%- partial(_view.get('_part/fields/auth/password'), {
                attr: 'password',
                iconClass: 'glyphicon glyphicon-lock'
            }) %>

            <%- partial(_view.get('_part/fields/auth/password'), {
                attr: 'passwordRepeat',
                iconClass: 'glyphicon glyphicon-lock'
            }) %>

            <%- partial(_view.get('_part/fields/auth/captcha'), {
                attr: 'captchaCode',
                iconClass: 'glyphicon glyphicon-check',
                url: _url('captcha')
            }) %>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">
                    <%- title %>
                </button>
            </div>
        </form>
    </div>
</div>