<%
const params = {
    routePrefix: typeof routePrefix === 'undefined' ? '' : routePrefix,
    searchText: typeof searchText === 'string' ? searchText : ''
};
%>
<div class="list-controls clearfix">
    <% if (typeof search === 'undefined') { %>
    Search
    <div class="input-group">
        <input class="list-search-input form-control" value="<%= params.searchText %>">
        <span class="input-group-btn">
           <button type="button" class="btn btn-default list-search">
               <span class="glyphicon glyphicon-search"></span>
           </button>
        </span>
    </div>    &nbsp; &nbsp;
    <% } %>

    <% if (provider.sort) { %>
    <%- include(_view.get('_part/sort'), {
        sort: provider.sort
    }) %>
    <% } %>

    <div class="pull-right">
        <% if (typeof create === 'undefined') { %>
        <a href="<%- _url(`${params.routePrefix}create`) %>" class="btn btn-success">
            <%- _t('Create') %>
        </a>
        <% } else if (create) { %>
        <a href="<%- create %>" class="btn btn-success">
            <%- _t('Create') %>
        </a>
        <% } %>
    </div>
</div>

<% if (provider.models.length) { %>

<% params.itemTemplate = typeof itemTemplate === 'undefined' ? null : _view.get(itemTemplate); %>

<% for (const model of provider.models ) { %>
<div class="list-item clearfix">
    <div class="list-item-controls">
        <a href="<%- _url([`${params.routePrefix}view`, model]) %>" class="btn btn-success btn-xs">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a href="<%- _url([`${params.routePrefix}update`, model]) %>" class="btn btn-info btn-xs">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        <button class="btn btn-danger btn-xs delete-object-ajax" type="button"
                data-url="<%- _url([`${params.routePrefix}delete`, model]) %>"
                data-confirm="Remove this object?">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
    <% if (params.itemTemplate) { %>
    <%- include(params.itemTemplate, {model}) %>
    <% } else { %>
    <%= model.getTitle() %>
    <% } %>
</div>
<% } %>

<% if (provider.pagination) { %>
<%- include(_view.get('_part/pagination'), {
    pager: provider.pagination
}) %>
<% } %>

<% } else { %>
<div class="alert alert-warning">
    Items not found
</div>
<% } %>