<p>
    <%- _format(model.get('createdAt'), 'datetime') %>
    &nbsp;
    <span class="badge badge-<%- model.get('status') %>">
        <%- model.get('status') %>
    </span>
</p>

<p>
    <%= model.get('content') %>
</p>

<p>
    <b><%= model.get('name') %></b>, <%- model.get('email') %>
</p>