
<% layout(_view.get('_layout/content')) -%>

<form action="#" method="post" class="form-horizontal form object-view">

    <div class="object-controls">
        <a href="<%- _url('create') %>" class="btn btn-success">Create</a>
        <a href="<%- _url(['update', model]) %>" class="btn btn-info">Update</a>
        <button class="btn btn-danger action-submit" type="button"
                data-url="<%- _url(['delete', model]) %>"
                data-confirm="Remove this object?">
            Delete
        </button>

        <div class="custom-object-controls">
            <%- blocks.customControls %>
        </div>
    </div>

    <%- body -%>
</form>