<%
layout(_view.get('_layout/main'));
const title = 'Регистрация';
block('title', title);
block('breadcrumbs', title);
%>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

        <h3 class="login-box-msg">
            Зарегистрировать нового пользователя
        </h3>

        <form action="<%- _url('sign-up') %>" method="post">
            <%- include(_view.get('_part/field/auth/input'), {
                attr: 'name',
                iconClass: 'glyphicon glyphicon-user',
                placeholder: 'Имя'
            }) %>

            <%- include(_view.get('_part/field/auth/input'), {
                attr: 'email',
                type: 'email',
                autocomplete: 'off',
                iconClass: 'glyphicon glyphicon-envelope',
                placeholder: 'Электронный адрес'
            }) %>

            <%- include(_view.get('_part/field/auth/input'), {
                attr: 'password',
                type: 'password',
                value: '',
                autocomplete: 'new-password',
                iconClass: 'glyphicon glyphicon-lock',
                placeholder: 'Пароль'
            }) %>

            <%- include(_view.get('_part/field/auth/input'), {
                attr: 'passwordRepeat',
                type: 'password',
                value: '',
                autocomplete: 'new-password',
                iconClass: 'glyphicon glyphicon-lock',
                placeholder: 'Повтор пароля'
            }) %>

            <%- include(_view.get('_part/field/auth/captcha'), {
                attr: 'captchaCode',
                iconClass: 'glyphicon glyphicon-check',
                url: _url('captcha'),
                placeholder: 'Проверочный код'
            }) %>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">
                    Зарегистрировать
                </button>
            </div>
        </form>
    </div>
</div>