<div class="list-item-content">
    <div class="mb-2">
        <%- _format(model.get('createdAt'), 'datetime') %>

        <span class="badge-dark badge badge-<%- model.get('status') %>">
            <%- model.getAttrValueLabel('status') %>
        </span>
    </div>
    <div class="mb-2">
        <%= model.get('content') %>
    </div>
    <div>
        <b><%= model.get('name') %></b>, <%- model.get('email') %>
    </div>
</div>