<%
layout(_view.get('_layout/main'));
const title = 'Sign in';
block('title', title);
block('breadcrumbs', title);
%>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

        <h3 class="login-box-msg">
            <%- title %>
        </h3>

        <form action="<%- _url('sign-in') %>" method="post">
            <%- include(_view.get('_part/field/auth/input'), {
                attr: 'email',
                type: 'email',
                autocomplete: 'on',
                iconClass: 'glyphicon glyphicon-envelope'
            }) %>

            <%- include(_view.get('_part/field/auth/input'), {
                attr: 'password',
                type: 'password',
                autocomplete: 'off',
                value: '',
                iconClass: 'glyphicon glyphicon-lock'
            }) %>

            <% if (model.isCaptchaRequired()) { %>
            <%- include(_view.get('_part/field/auth/captcha'), {
                attr: 'captchaCode',
                iconClass: 'glyphicon glyphicon-check',
                url: _url('captcha')
            }) %>
            <% } %>

            <div class="row">
                <div class="col-xs-8">
                    <% if (_controller.user.auth.enableAutoLogin) { %>
                    <%- include(_view.get('_part/field/checkbox'), {attr: 'rememberMe'}) %>
                    <% } %>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">
                        <%- title %>
                    </button>
                </div>
            </div>
        </form>
        <br>
        <p class="text-center">
            <a href="auth/sign-up">
                Sign up new user
            </a>
        </p>
    </div>
</div>