<%
const title = 'Sign up';
_data.set('breadcrumbs', [{label: title}]);
%>
<% layout(_view.get('_layout/main')) -%>

<% block('title', title) -%>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

        <h3 class="login-box-msg">
            Sign up new user
        </h3>

        <form action="<%- _url('sign-up') %>" method="post">
            <%- include(_view.get('_part/field/auth/input'), {
                attr: 'name',
                iconClass: 'glyphicon glyphicon-user'
            }) %>

            <%- include(_view.get('_part/field/auth/input'), {
                attr: 'email',
                type: 'email',
                autocomplete: 'off',
                iconClass: 'glyphicon glyphicon-envelope'
            }) %>

            <%- include(_view.get('_part/field/auth/input'), {
                attr: 'password',
                type: 'password',
                value: '',
                autocomplete: 'new-password',
                iconClass: 'glyphicon glyphicon-lock'
            }) %>

            <%- include(_view.get('_part/field/auth/input'), {
                attr: 'passwordRepeat',
                type: 'password',
                value: '',
                autocomplete: 'new-password',
                iconClass: 'glyphicon glyphicon-lock'
            }) %>

            <%- include(_view.get('_part/field/auth/captcha'), {
                attr: 'captchaCode',
                iconClass: 'glyphicon glyphicon-check',
                url: _url('captcha')
            }) %>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">
                    <%- title %>
                </button>
            </div>
        </form>
    </div>
</div>