<!-- _parts/fields/auth/input -->

<% let params = {}; %>
<%- partial('../_set-params', {params}) %>

<div class="form-group has-feedback <%- params.error ? 'has-error' : '' %>">
    <input name="<%- params.name %>" type="text" class="form-control"
           placeholder="<%- params.placeholder %>" value="<%- params.value %>"/>
    <span class="form-control-feedback <%- iconClass %>"></span>
    <div class="hint-block"><%- params.error %></div>
</div>