<!-- _parts/auth/password -->
<%
    let name = model.getFormAttributeName(attr);
    let error = t(model.getFirstError(attr));
    let holder = typeof placeholder === 'undefined' ? model.getLabel(attr) : placeholder;
%>
<div class="form-group has-feedback <%- error ? 'has-error' : '' %>">
    <input name="<%- name %>" type="password" class="form-control" placeholder="<%- holder %>"/>
    <span class="form-control-feedback <%- iconClass %>"></span>
    <div class="hint-block"><%- error %></div>
</div>