
<% block('title', _t('Dashboard')) -%>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="admin/article">
                        <%- _t('Articles') %>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="text-succes"><%-_t('Published') %>: <b><%- published %></b></span>
                    </div>
                    <div class="col-xs-3">
                        <span class="text-gray"><%-_t('Drafts') %>: <b><%- drafts %></b></span>
                    </div>
                    <div class="col-xs-3">
                        <span class="text-warning"><%-_t('Archived') %>: <b><%- archived %></b></span>
                    </div>
                    <div class="col-xs-3">
                        <span class="text-danger"><%-_t('Blocked') %>: <b><%- blocked %></b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="admin/photo">
                        <%- _t('Photos') %>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <%-_t('Total') %>: <b><%- photos %></b>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="admin/tag">
                        <%- _t('Tags') %>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <%- _t('Total') %>: <b><%- tags %></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="admin/comment">
                        <%- _t('Comments') %>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <span class="text-gray"><%-_t('Pending') %>: <b><%- pending %></b></span>
                    </div>
                    <div class="col-xs-4">
                        <span class="text-success"><%-_t('Approved') %>: <b><%- approved %></b></span>
                    </div>
                    <div class="col-xs-4">
                        <span class="text-danger"><%-_t('Rejected') %>: <b><%- rejected %></b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>