
<% block('title', _t('Dashboard')) %>

<div class="row">

    <div class="col-md-6">
        <div class="card-success card mb-4">
            <div class="card-header">
                <a href="admin/article"><%- _t('Articles') %></a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="text-primary"><%-_t('Drafts') %></span>
                    <span class="badge bg-primary rounded-pill"><%- drafts %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="text-success"><%-_t('Published') %></span>
                    <span class="badge bg-success rounded-pill"><%- published %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="text-dark"><%-_t('Archived') %></span>
                    <span class="badge bg-dark rounded-pill"><%- archived %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="text-danger"><%-_t('Blocked') %></span>
                    <span class="badge bg-danger rounded-pill"><%- blocked %></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card-info card mb-4">
            <div class="card-header">
                <a href="admin/comment"><%- _t('Comments') %></a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="text-primary"><%-_t('Pending') %></span>
                    <span class="badge bg-primary rounded-pill"><%- pending %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="text-success"><%-_t('Approved') %></span>
                    <span class="badge bg-success rounded-pill"><%- approved %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="text-danger"><%-_t('Rejected') %></span>
                    <span class="badge bg-danger rounded-pill"><%- rejected %></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card-info card mb-4">
            <div class="card-header">
                <a href="admin/tag"><%- _t('Tags') %></a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="text-dark"><%-_t('Total') %></span>
                    <span class="badge bg-dark rounded-pill"><%- tags %></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card-success card mb-4">
            <div class="card-header">
                <a href="admin/photo"><%- _t('Photos') %></a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="text-dark"><%-_t('Total') %></span>
                    <span class="badge bg-dark rounded-pill"><%- photos %></span>
                </li>
            </ul>
        </div>
    </div>
</div>