<%
    let params = {
        label: typeof label === 'undefined' ? model.getLabel(attr) : label
    };
    let items = model.rel(attr);
    items = items instanceof Array ? items : items ? [items] : null;
%>
<div class="form-group">
    <label class="col-sm-2 control-label">
        <%- params.label %>
    </label>
    <div class="col-sm-10">
        <div class="form-control-static clearfix">
        <% if (items) { %>
        <% for (let model of items) { %>
            <% if (typeof itemTemplate !== 'undefined') { %>
                <%- partial(itemTemplate, {model}) %>
            <% } else if (typeof viewRoute !== 'undefined') { %>
                <a href="<%- _url([viewRoute, model])%>" class="rel-list-item">
                    <%= model.getTitle() %>
                </a>
            <% } else { %>
                <span class="rel-list-item">
                    <%= model.getTitle() %>
                </span>
            <% } %>
        <% }} else { %>
            <span class="not-set">[not set]</span>
        <% } %>
        </div>
    </div>
</div>