<!-- _part/fields/text -->

<% let params = {
    rows: typeof rows === 'undefined' ? 4 : rows
}; %>
<%- partial('_set-params', {params}) %>

<div class="form-group<%- params.required %> <%- params.error ? 'has-error' : '' %>">
    <label for="<%- params.id %>" class="col-sm-2 control-label">
        <%- params.label %>
    </label>
    <div class="col-sm-10">
        <textarea id="<%- params.id %>" name="<%- params.name %>"
                  class="form-control" rows="<%- params.rows %>"><%- params.value %></textarea>
        <div class="hint-block"><%- params.error %></div>
    </div>
</div>