<% let searchValue = typeof search === 'undefined' ? '' : search; %>

<% layout(_view.get('_layout/main')) -%>

<div class="row">
    <div class="col-sm-8">
        <%- body -%>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <%- _t('Search') %>
                </h3>
            </div>
            <div class="panel-body">
                <form action="article/search" method="get">
                    <div class="input-group">
                        <input type="search" name="text" class="form-control" value="<%= searchValue %>">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <%- _view.anchorWidget('categories') %>

        <%- _view.anchorWidget('tagList') %>

        <%- _view.anchorWidget('recentComments') %>
    </div>

</div>