<!DOCTYPE html>
<html lang="<%- _controller.language %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="<%- _baseUrl %>">

  <title><%- blocks.title %> - Areto Basic Demo</title>

  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="style/common.css" rel="stylesheet">
</head>
<body>

<div class="wrapper">

  <nav class="navbar navbar-expand-lg navbar-dark bg-success mb-4">
    <div class="container">
      <a href="" class="navbar-brand">
        <b>Areto</b> Basic Demo
      </a>
      <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="admin" class="nav-link">
              <%- _t('Admin panel')%>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% if (blocks.breadcrumbs) { %>
    <%- _view.placeWidget('breadcrumbs', {links: blocks.breadcrumbs.get()}) %>
    <% } %>
  </div>

  <div class="container">

    <%- include('../_part/flashAlert') %>

    <%- body %>

  </div>

  <footer class="footer bg-light">
    <div class="container">
      <div class="text-center">© Areto Basic Demo</div>
    </div>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="script/common.js"></script>

</body>
</html>