
<a name="comments"></a>

<h4 class="my-4">
    <%- _t('Comments') %>
    <small>(<%- comments.totalCount %>)</small>
</h4>

<% if (comments.models.length) { %>
<div class="comment-list">
    <% for (const comment of comments.models) { %>
    <div class="comment-item">
        <div class="comment-icon">
            <i class="text-info far fa-comment"></i>
        </div>
        <div class="comment-column">
            <div class="comment-head">
                <b class="text-danger"><%= comment.get('name') %></b>,
                <%- _format(comment.get('createdAt'), 'datetime') %>
            </div>
            <div class="comment-body"><i><%= comment.get('content') %></i></div>
        </div>
    </div>
    <% } %>
</div>

<% if (comments.pagination) { %>
<%- include(_view.get('_part/pagination'), {
    pager: comments.pagination,
    anchor: 'comments'
}) %>
<% }} else { %>
<div class="alert alert-warning">
    <%- _t('Not commented yet') %>
</div>
<% } %>