
<h4 class="mt30 mb30">
    <%- _t('Comments') %>
    <small>(<%- comments.totalCount %>)</small>
</h4>

<% if (comments.models.length) { %>
<a name="comments"></a>
<div class="comment-list">
    <% for (const comment of comments.models) { %>
    <div class="comment-item clearfix">
        <div class="comment-icon">
            <span class="glyphicon glyphicon-comment text-info"></span>
        </div>
        <div class="comment-column">
            <div class="comment-head">
                <b class="text-primary"><%= comment.get('name') %></b>,
                <%- _format(comment.get('createdAt'), 'datetime') %>
            </div>
            <div class="comment-body"><i><%= comment.get('content') %></i></div>
        </div>
    </div>
    <% } %>
</div>

<% if (comments.pagination) { %>
<%- include(_view.get('_part/pagination'), {
    pager: comments.pagination
}) %>
<% }} else { %>
<div class="alert alert-warning">
    <%- _t('Not commented yet') %>
</div>
<% } %>