
<% const url = _url(['view', model]); %>
<% const photo = model.get('mainPhoto'); %>
<% const tags = model.get('tags'); %>

<h3>
    <a href="<%- url %>"><%= model.getTitle() %></a>
</h3>

<p>
    <span class="badge badge-info mr10">
        <%- _format(model.get('date'), 'dateLong') %>
    </span>

    <% if (tags.length) { %>
    <span class="mr10">
        <%- _t('Tags')%>
    </span>
    <% for (const tag of model.get('tags')) { %>
    <a href="article/tagged?tag=<%= tag.get('name') %>" class="tag-item">
        <%= tag.get('name') %>
    </a>
    <% }} %>
</p>

<% if (photo) { %>
<div class="mt20">
    <a href="<%- url %>">
        <img src="<%- photo.getMedium() %>" class="center-block thumbnail img-responsive">
    </a>
</div>
<% } %>
