<%
layout(_view.get('_layout/content'));
block('title', 'Article');
block('breadcrumbs', {
    title: 'Articles',
    url: 'article'
},{
    title: model.getTitle()
});
%>

<h1 class="mt0">
    <%- model.getTitle() %>
</h1>

<p class="mb20">
    <span class="badge badge-primary">
        <%- _format(model.get('date'), 'dateLong') %>
    </span>
</p>

<%- include('./_photos') %>

<div class="mb30">
    <%- model.get('content') %>
</div>

<% const category = model.rel('category'); %>
<% if (category) { %>
<b class="mr10"><%- _t('Category')%>:</b>
<a href="<%- _url('category', {category: category.getId()}) %>"
   class="tag-item"><%= category.getTitle() %></a>&nbsp;
<% } %>

<% const tags = model.get('tags'); %>
<% if (tags.length) { %>
    <b class="mr10"><%- _t('Tags') %>:</b>
<% for (const tag of tags) { %>
    <a href="<%= _url('tagged', {tag: tag.getTitle()}) %>" class="tag-item">
        <%= tag.getTitle() %>
    </a>
<% }} %>

<hr>

<%- include('./_comments') %>

<hr>

<%- include('./_commentForm') %>