<!-- _part/field/auth/captcha -->
<%
const params = {};
%>
<%- include('../_params', {params}) %>

<div class="form-group captcha" data-url="<%- url %>">
    <img src="<%- `${url}?_=${_controller.timestamp}` %>" class="captcha-image">
    <a class="captcha-refresh" href="<%- `${url}?_=` %>" >
        <span class="fas fa-sync-alt"></span>
    </a>
</div>

<div class="form-group <%- params.error ? 'has-error' : '' %>">
    <div class="input-group">
        <input name="<%- params.name %>" type="text" class="form-control"
               placeholder="<%- params.placeholder %>" autocomplete="off" required>
        <span class="input-group-text"><i class="<%- iconClass %>"></i></span>
    </div>
    <div class="error-block"><%- params.error %></div>
</div>