<!-- _part/field/auth/captcha -->

<% let params = {}; %>
<%- include('../_params', {params}) %>

<div class="captcha mb10" data-url="<%- url %>">
    <img src="<%- `${url}?_=${_controller.timestamp}` %>" class="captcha-image">
    <a class="captcha-refresh" href="<%- `${url}?_=` %>" >
        <span class="glyphicon glyphicon-refresh"></span>
    </a>
</div>
<div class="form-group has-feedback <%- params.error ? 'has-error' : '' %>">
    <input name="<%- params.name %>" type="text" class="form-control"
           placeholder="<%- params.placeholder %>" autocomplete="off">
    <span class="form-control-feedback <%- iconClass %>"></span>
    <div class="hint-block"><%- params.error %></div>
</div>