<!-- _part/field/auth/password -->

<% let params = {}; %>
<%- include('../_params', {params}) %>

<div class="form-group has-feedback <%- params.error ? 'has-error' : '' %>">
    <input name="<%- params.name %>" type="password" class="form-control" placeholder="<%- params.placeholder %>">
    <span class="form-control-feedback <%- iconClass %>"></span>
    <div class="hint-block"><%- params.error %></div>
</div>