<!-- _parts/fields/text -->
<%
    let _id = typeof id === 'undefined' ? model.getFormAttributeId(attr) : id;
    let _name = typeof name === 'undefined' ?  model.getFormAttributeName(attr) : name;
    let _value = typeof value === 'undefined' ? model.get(attr) : value;
    let _label = typeof label === 'undefined' ? model.getLabel(attr) : label;
    let _required = model.isAttributeRequired(attr) ? ' required' : '';
    let _error = t(model.getFirstError(attr));
    let _rows = typeof rows === 'undefined' ? 4 : rows;
%>
<div class="form-group<%- _required %> <%- _error ? 'has-error' : '' %>">
    <label for="<%- _id %>" class="col-sm-2 control-label"><%- _label %></label>
    <div class="col-sm-10">
        <textarea id="<%- _id %>" name="<%- _name %>"
                  class="form-control" rows="<%- _rows %>"><%- model.get(attr) %></textarea>
        <div class="hint-block"><%- _error %></div>
    </div>
</div>